body {
  background-color: #f0f0f4;
}

.container {
  display: grid;
  grid-template-columns: 5rem 5rem 5rem 5rem 5rem 5rem;
  grid-template-rows: 5rem 5rem 5rem 5rem 5rem 5rem;
  grid-gap: 0.5rem;
  grid-auto-flow: row;
  justify-content: center;
}

.item {
  background-color: white;
  box-shadow: 0 2px 8px rgb(0 0 0 / 5%);
}

.itemText {
  font-size: 2rem;
  vertical-align: middle;
  line-height: 5rem;
}

.main {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}