body {
  background-color: white;
}

.itemText {
  display: block;
}

@media only screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    grid-gap: 10px;
    justify-content: center;
    width: 90%;
    height: 90%;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    grid-gap: 10px;
    justify-content: center;
    width: 40%;
    height: 40%;
  }
}

/* https://stackoverflow.com/questions/29307971/css-grid-of-squares-with-flexbox */
.item:before {
  content: "";
  display: block;
  padding-top: 100%;
  float: left;
}

.item {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  margin: 3px;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 2px solid #f1f1f1;
}

.item.submitted {
  border: 2px solid #bbbbbb;
}

.main {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  height: 100%;
  width: 100%;
}

.title {
  cursor: pointer;
  font-weight: 600;
}

.letter {
  cursor: pointer;
}

.hashtag-cell {
  background-color: white;
}

.letter-row {
  display: flex;
  justify-content: center;
  max-width: 90%;
}

.letter-row-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.separator {
  margin: 0px 5px;
  border-right: 2px solid #bbbbbb;
}

.color-cell {
  display: flex;
  overflow: hidden;
}

.inner-color-tile {
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #18191A;
  }

  p {
    color: #ffffff;
  }

  .item {
    background-color: #3a3b3c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    margin: 3px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid #3a3b3c;
    color: white;
  }
  
  .item.submitted {
    border: 2px solid #3a3b3c;
  }

  .hashtag-cell {
    background-color: #3a3b3c;
  }

  .modal-content {
    background-color: #3a3b3c;
  }

  .modal-header {
    border-bottom: 1px solid black;
  }

  .modal-footer {
    border-top: 1px solid black;
  }

  .modal-title {
    color: white;
  }
}